body { 
    text-align:center;
    background-color: white;
}


img{

	margin-top: 100px;

}
form{
    background: white; 
    border:double 5px midnightblue;
    padding: 5%;
    margin:70px 500px;
}
#table{
	border:10px;
}
    
















